.slider-bg{
    background-color: #FCEAE8;
}

.pink-color{
    color: #ff3b88;
}

.pink-color-btn{
    background-color: #ff3b88;
    color: white;
}

.watch-bg{
    background-color: #FFA500;
}

.bag-bg{
    background-color: #DA70D6;
}

.shoe-bg{
    background-color: #0000FF;
}
.cat-text{
    font-size: 35px;
}